body{
  background-color: whitesmoke;
  
}
form{
  background-color: gainsboro;
  padding: .5 in;
  margin: .25in;
  border: 1rem gray;
}

table{
  background-color: blueviolet;
  padding: .5 in;
  border: 1rem black;
}