body{
  background-color: #616161;

}
form{
  background-color: floralwhite;
  padding: .5 in;
  margin: .25in;
 
}

.center{
  margin-left: auto;
  margin-right: auto;
  background-color: teal;
  padding: 5 in;

}
*{
  text-align: center;
}